#include <windows.h>
#include "resource.h"

IDD_DLG_MAIN DIALOGEX 6,5,416,277
CAPTION "DS2Key 1.0 (SVN)"
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MENU_MAIN
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "",IDC_BTN_A,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,26,16,54,13
  CONTROL "",IDC_BTN_B,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,26,35,54,13
  CONTROL "",IDC_BTN_X,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,26,51,54,13
  CONTROL "Action Buttons",0,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,7,80,80
  CONTROL "B:",0,"Static",WS_CHILD|WS_VISIBLE,12,36,10,9
  CONTROL "A:",0,"Static",WS_CHILD|WS_VISIBLE,12,20,10,9
  CONTROL "X:",0,"Static",WS_CHILD|WS_VISIBLE,12,53,10,9
  CONTROL "Y:",0,"Static",WS_CHILD|WS_VISIBLE,12,70,10,9
  CONTROL "L:",0,"Static",WS_CHILD|WS_VISIBLE,94,53,26,9
  CONTROL "R:",0,"Static",WS_CHILD|WS_VISIBLE,94,70,26,9
  CONTROL "Select:",0,"Static",WS_CHILD|WS_VISIBLE,94,36,26,9
  CONTROL "Start:",0,"Static",WS_CHILD|WS_VISIBLE,94,20,26,9
  CONTROL "Right:",0,"Static",WS_CHILD|WS_VISIBLE,190,70,24,9
  CONTROL "Down:",0,"Static",WS_CHILD|WS_VISIBLE,190,36,24,9
  CONTROL "Up:",0,"Static",WS_CHILD|WS_VISIBLE,190,20,24,9
  CONTROL "Left:",0,"Static",WS_CHILD|WS_VISIBLE,190,53,24,9
  CONTROL "",IDC_BTN_Y,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,26,68,54,13
  CONTROL "",IDC_BTN_L,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,124,51,54,13
  CONTROL "",IDC_BTN_R,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,124,68,54,13
  CONTROL "",IDC_BTN_UP,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,218,18,54,13
  CONTROL "",IDC_BTN_DOWN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,218,35,54,13
  CONTROL "",IDC_BTN_LEFT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,218,51,54,13
  CONTROL "",IDC_BTN_RIGHT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,220,68,54,13
  CONTROL "",IDC_BTN_START,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,124,18,54,13
  CONTROL "",IDC_BTN_SELECT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,124,35,54,13
  CONTROL "Directional Buttons",0,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,186,7,94,81
  CONTROL "Secondary Buttons",0,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,88,7,96,81
  CONTROL "Mouse Buttons",0,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,90,404,65
  CONTROL "",IDC_BTN_BLUE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,318,18,54,13
  CONTROL "",IDC_BTN_YELLOW,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,318,35,54,13
  CONTROL "",IDC_BTN_RED,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,318,51,54,13
  CONTROL "",IDC_BTN_GREEN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,318,68,54,13
  CONTROL "Blue:",0,"Static",WS_CHILD|WS_VISIBLE,288,20,26,9
  CONTROL "Yellow:",0,"Static",WS_CHILD|WS_VISIBLE,288,36,26,9
  CONTROL "Red:",0,"Static",WS_CHILD|WS_VISIBLE,288,53,26,9
  CONTROL "Green:",0,"Static",WS_CHILD|WS_VISIBLE,288,70,26,9
  CONTROL "Guitar Hero Buttons",0,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,282,7,96,81
  CONTROL "Button 1:",0,"Static",WS_CHILD|WS_VISIBLE,10,103,34,9
  CONTROL "",IDC_BTN_BUTTON1,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,50,101,54,13
  CONTROL "",IDC_BTN_BUTTON2,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,150,101,54,13
  CONTROL "Button 2:",0,"Static",WS_CHILD|WS_VISIBLE,110,103,34,9
  CONTROL "",IDC_BTN_BUTTON3,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,250,101,54,13
  CONTROL "Button 3:",0,"Static",WS_CHILD|WS_VISIBLE,210,103,34,9
  CONTROL "",IDC_BTN_BUTTON4,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,350,101,54,13
  CONTROL "Button 4:",0,"Static",WS_CHILD|WS_VISIBLE,310,103,34,9
  CONTROL "",IDC_BTN_BUTTON8,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,350,118,54,13
  CONTROL "Button 8:",0,"Static",WS_CHILD|WS_VISIBLE,310,120,34,9
  CONTROL "",IDC_BTN_BUTTON7,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,250,118,54,13
  CONTROL "Button 7:",0,"Static",WS_CHILD|WS_VISIBLE,210,120,34,9
  CONTROL "",IDC_BTN_BUTTON6,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,150,118,54,13
  CONTROL "Button 6:",0,"Static",WS_CHILD|WS_VISIBLE,110,120,34,9
  CONTROL "",IDC_BTN_BUTTON5,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,50,118,54,13
  CONTROL "Button 5:",0,"Static",WS_CHILD|WS_VISIBLE,10,120,34,9
  CONTROL "",IDC_BTN_BUTTON12,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,350,134,54,13
  CONTROL "Button 12:",0,"Static",WS_CHILD|WS_VISIBLE,310,136,34,9
  CONTROL "",IDC_BTN_BUTTON11,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,250,134,54,13
  CONTROL "Button 11:",0,"Static",WS_CHILD|WS_VISIBLE,210,136,34,9
  CONTROL "",IDC_BTN_BUTTON10,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,150,132,54,13
  CONTROL "Button 10:",0,"Static",WS_CHILD|WS_VISIBLE,110,136,34,9
  CONTROL "",IDC_BTN_BUTTON9,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,50,134,54,13
  CONTROL "Button 9:",0,"Static",WS_CHILD|WS_VISIBLE,10,136,34,9
  CONTROL "",IDC_CBO_LOG,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,70,256,54,50
  CONTROL "Log Level:",0,"Static",WS_CHILD|WS_VISIBLE,30,258,40,9
  CONTROL "",IDC_EDT_PORT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER,154,256,54,13,WS_EX_CLIENTEDGE
  CONTROL "Port:",0,"Static",WS_CHILD|WS_VISIBLE,132,258,18,9
  CONTROL "",IDC_EDT_LOG,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_READONLY|ES_MULTILINE,6,156,404,94,WS_EX_CLIENTEDGE
  CONTROL "Profile:",0,"Static",WS_CHILD|WS_VISIBLE,212,258,22,9
  CONTROL "",IDC_CBO_PROFILE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,238,256,54,50
  CONTROL "&Apply",IDC_BTN_APPLY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,296,256,54,13
  CONTROL "&Save",IDC_BTN_SAVE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,354,256,54,13
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileVersion", "1.0\0"
      VALUE "ProductVersion", "1.0\0"
      VALUE "FileDescription", "DS2Key Server\0"
      VALUE "LegalCopyright", "Copyright (C) 2008  Derrick (sypherce) Wirth\0"
      VALUE "OriginalFilename", "DS2Key.exe\0"
      VALUE "ProductName", "DS2Key\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END

IDI_MAIN_ICON ICON DISCARDABLE "DS2Key/ds2key.ico"

IDD_DLG_KEY_MAPPING DIALOGEX 6,6,80,94
CAPTION "Key Mapping"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
EXSTYLE WS_EX_TOOLWINDOW|WS_EX_TOPMOST
BEGIN
  CONTROL "Capture Key Press",IDC_BTN_CAPTURE_KEY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,4,3,72,13
  CONTROL "(Mouse) Left Click",IDC_BTN_MOUSE_LEFT_CLICK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,4,22,72,13
  CONTROL "(Mouse) Right Click",IDC_BTN_MOUSE_RIGHT_CLICK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,4,40,72,13
  CONTROL "(Mouse) Middle Click",IDC_BTN_MOUSE_MIDDLE_CLICK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,4,59,72,13
  CONTROL "None",IDC_BTN_NONE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,4,77,72,13
END

IDR_MENU_MAIN MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Connect",IDM_CONNECT
    MENUITEM "&Disconnect",IDM_DISCONNECT
    MENUITEM SEPARATOR
    MENUITEM "E&xit",IDM_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_ABOUT
  END
END

IDD_DLG_KEY_CAPTURE DIALOGEX 6,6,118,20
CAPTION "Key Capture"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
EXSTYLE WS_EX_TOOLWINDOW|WS_EX_TOPMOST
BEGIN
  CONTROL "Current Key: ",0,"Static",WS_CHILD|WS_VISIBLE,6,5,106,9
END

